.footer {

	background-color: #FBFBFB;

	&-top {
		display: flex;
		gap: 30px;
		padding: 25px;

		@media screen and (max-width: 1250px) {
			flex-wrap: wrap;
		}

		.elements {
			display: flex;
			gap: 27px;

			@media screen and (max-width: 1250px) {
				margin-bottom: 30px;
			}

			@media screen and (max-width: 768px) {
				flex-wrap: wrap;
			}

			.element {

				width: 238px;
				padding-right: 35px;
				border-right: 1px solid rgba(70, 163, 88, .1);

				@media screen and (max-width: 1250px) {
					width: auto;
				}

				@media screen and (max-width: 768px) {
					width: 70%;
					margin: 20px auto 0;
					padding-left: 10%;
					padding-right: 10%;
					padding-bottom: 40px;
					border-right: none;
					border-bottom: 1px solid rgba(70, 163, 88, .1);
				}

				@media screen and (max-width: 576px) {
					width: 100%;
				}

				&:last-child {
					border-right: none;
				}

				img {
					display: block;
					margin-bottom: 15px;

					@media screen and (max-width: 1250px) {
						margin: 0 auto 20px;
					}
				}

				h3 {
					font-weight: 700;
					font-size: 17px;
					line-height: 16px;
					color: $color_dark;
					margin-bottom: 10px;

					@media screen and (max-width: 1250px) {
						text-align: center;
					}

				}

				p {
					font-weight: 400;
					font-size: 14px;
					line-height: 22px;
					color: $color_text;

					@media screen and (max-width: 1250px) {
						text-align: center;
					}
				}

			} // element
		} // elements

		.footer-form {

			padding-top: 4px;

			@media screen and (max-width: 768px) {
				width: 80%;
				margin: 0 auto;
			}

			@media screen and (max-width: 576px) {
				width: 100%;
			}

			h3 {
				font-weight: 700;
				font-size: 18px;
				line-height: 16px;
				color: $color_dark;
				margin-bottom: 20px;

				@media screen and (max-width: 768px) {
					text-align: center;
				}

				@media screen and (max-width: 576px) {
					text-align: left;
					font-size: 17px;
				}

				@media screen and (max-width: 376px) {
					font-size: 16px;
				}

			}

			form {
				display: flex;
				width: 100%;
				margin-bottom: 20px;

				.form-input {
					width: 100%;
					padding: 14px 15px 12px;
					border-top-left-radius: 7px;
					border-bottom-left-radius: 7px;
					box-shadow: 0 0 18px -8px #ccc;

					&::placeholder {
						font-weight: 400;
						font-size: 14px;
						line-height: 16px;
						color: #bbb;
						font-family: 'CeraPro';
					}
				}

				.form-submit {
					width: 85px;
					padding: 12px 25px;
					border-top-right-radius: 7px;
					border-bottom-right-radius: 7px;
					font-weight: 500;
					font-size: 18px;
					line-height: 16px;
					color: #fff;
					background-color: $color_green;
					font-family: 'CeraPro';
				}
			} // form

			p {
				font-weight: 400;
				font-size: 13px;
				line-height: 22px;
				color: $color_text;

				@media screen and (max-width: 768px) {
					text-align: center;
				}

				@media screen and (max-width: 576px) {
					text-align: left;
				}
			}

		} // footer-form

	} // &-top

}