.footer {

	background-color: #FBFBFB;

	&-top {
		display: flex;
		gap: 30px;
		padding: 25px;

		@media screen and (max-width: 1250px) {
			flex-wrap: wrap;
		}

		.elements {
			display: flex;
			gap: 27px;

			@media screen and (max-width: 1250px) {
				margin-bottom: 30px;
			}

			@media screen and (max-width: 768px) {
				flex-wrap: wrap;
			}

			.element {

				width: 238px;
				padding-right: 35px;
				border-right: 1px solid rgba(70, 163, 88, .1);

				@media screen and (max-width: 1250px) {
					width: auto;
				}

				@media screen and (max-width: 768px) {
					width: 70%;
					margin: 20px auto 0;
					padding-left: 10%;
					padding-right: 10%;
					padding-bottom: 40px;
					border-right: none;
					border-bottom: 1px solid rgba(70, 163, 88, .1);
				}

				@media screen and (max-width: 576px) {
					width: 100%;
				}

				&:last-child {
					border-right: none;
				}

				img {
					display: block;
					margin-bottom: 15px;

					@media screen and (max-width: 1250px) {
						margin: 0 auto 20px;
					}
				}

				h3 {
					font-weight: 700;
					font-size: 17px;
					line-height: 16px;
					color: $color_dark;
					margin-bottom: 10px;

					@media screen and (max-width: 1250px) {
						text-align: center;
					}

				}

				p {
					font-weight: 400;
					font-size: 14px;
					line-height: 22px;
					color: $color_text;

					@media screen and (max-width: 1250px) {
						text-align: center;
					}
				}

			} // element
		} // elements

		.footer-form {

			padding-top: 4px;

			@media screen and (max-width: 768px) {
				width: 80%;
				margin: 0 auto;
			}

			@media screen and (max-width: 576px) {
				width: 100%;
			}

			h3 {
				font-weight: 700;
				font-size: 18px;
				line-height: 16px;
				color: $color_dark;
				margin-bottom: 20px;

				@media screen and (max-width: 768px) {
					text-align: center;
				}

				@media screen and (max-width: 576px) {
					text-align: left;
					font-size: 17px;
				}

				@media screen and (max-width: 376px) {
					font-size: 16px;
				}

			}

			form {
				display: flex;
				width: 100%;
				margin-bottom: 20px;

				.form-input {
					width: 100%;
					padding: 14px 15px 12px;
					border-top-left-radius: 7px;
					border-bottom-left-radius: 7px;
					box-shadow: 0 0 18px -8px #ccc;

					&::placeholder {
						font-weight: 400;
						font-size: 14px;
						line-height: 16px;
						color: #bbb;
						font-family: 'CeraPro';
					}
				}

				.form-submit {
					width: 85px;
					padding: 12px 25px;
					border-top-right-radius: 7px;
					border-bottom-right-radius: 7px;
					font-weight: 500;
					font-size: 18px;
					line-height: 16px;
					color: #fff;
					background-color: $color_green;
					font-family: 'CeraPro';
				}
			} // form

			p {
				font-weight: 400;
				font-size: 13px;
				line-height: 22px;
				color: $color_text;
				margin-bottom: 20px;

				@media screen and (max-width: 768px) {
					text-align: center;
				}

				@media screen and (max-width: 576px) {
					text-align: left;
				}
			}

		} // footer-form

	} // &-top


/////// center 


	&-center {

		display: flex;
		align-items: center;
		gap: 90px;
		padding: 25px;
		background-color: rgba(70,163,88,.1);
		border-top: 1px solid rgba(70,163,88,.2);
		border-bottom: 1px solid rgba(70,163,88,.2);

		@media screen and (max-width: 1250px) {
			flex-wrap: wrap;
			gap: 20px;
			justify-content: space-between;
		}

		.logo {
			width: 150px;
			position: relative;
			z-index: 2;
			height: 35px;
			background: url('../images/dest/logo.svg') no-repeat;
		}

		.elements {
			display: flex;
			
			@media screen and (max-width: 1250px) {
				gap: 30px;
				padding-left: 5px;
			}

			@media screen and (max-width: 768px) {
				flex-wrap: wrap;
				gap: 20px;
			}

			.element {
				align-self: center;
				width: 260px;
				padding-left: 35px;
				font-weight: 400;
				font-size: 14px;
				line-height: 22px;
				color: $color_dark;

				background-size: 20px 20px;
				background-repeat: no-repeat;
				background-position: left center;

				&.el-location {
					background-image: url('../images/dest/icons/location.svg');
				}

				&.el-message {
					background-image: url('../images/dest/icons/message.svg');
				}

				&.el-calling {
					background-image: url('../images/dest/icons/calling.svg');
				}

				@media screen and (max-width: 1250px) {
					width: 30px;
					height: 30px;
					overflow: hidden;
				}

				@media screen and (max-width: 768px) {
					width: 100%;
					height: auto;
				}
			}
		}

	} // &-center


/////// bottom

	&-bottom {

		.footer-menu {
			padding: 40px 30px 30px;
			display: flex;
			gap: 150px;
			border-bottom: 1px solid rgba(70,163,88,.2);

			@media screen and (max-width: 1250px) {
				flex-wrap: wrap;
				gap: 40px;
				justify-content: space-between;
			}

			.element {

				h3 {
					font-weight: 700;
					font-size: 18px;
					line-height: 16px;
					color: $color_dark;
					margin-bottom: 20px;
				}

				.links {

					a {
						display: block;
						margin-bottom: 10px;
						text-decoration: none;
						font-size: 14px;
						line-height: 20px;
						color: $color_dark;

						&:hover {
							text-decoration: underline;
						}
					}

				} // links 

			} // element

		} // footer-menu

		.footer-copyright {
			text-align: center;
			padding: 15px;
			font-size: 14px;
			color: $color_dark;
			background-color: #fff;
		}

	} // footer-bottom

} // footer