.s2 {
	margin-bottom: 140px;
	padding-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 30px;

	@media screen and (max-width: 700px) {
		justify-content: center;
	}

	@media screen and (min-width: 990px) and (max-width: 1220px) {
		gap: 50px;
		justify-content: center;
	}

	@media screen and (max-width: 576px) {
		margin-bottom: 70px;
	}

	.element {
		display: flex;
		flex-wrap: wrap;
		align-self: center;
		position: relative;
		height: 250px;
		overflow: hidden;
		background-color: #FBFBFB;

		@media screen and (max-width: 1220px) {
			width: calc(50% - 15px);
			height: auto;
			justify-content: center;
			padding: 20px 0;
		}

		@media screen and (max-width: 700px) {
			width: 80%;
			height: auto;
			justify-content: center;
			padding: 20px 0;
		}

		@media screen and (max-width: 576px) {
			width: 90%;
		}

		@media screen and (max-width: 450px) {
			width: 100%;
		}

		@media screen and (max-width: 376px) {
			padding: 0;
		}

		@media screen and (min-width: 990px) and (max-width: 1220px) {
			width: 45%;
		}

		&::before {
			position: absolute;
			left: -16px;
			bottom: -20px;
			z-index: 2;
			display: block;
			content: '';
			width: 65px;
			height: 116px;
			background: url('../images/dest/s2/ellipse.png') no-repeat;
		}

		img {
			position: relative;
			width: 250px;
			height: 250px;
			object-position: center;
			object-fit: cover;

			@media screen and (max-width: 576px) {
				object-fit: contain;
			}

			@media screen and (min-width: 577px) and (max-width: 768px) {
				width: 220px;
			}
		}

		.content {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: flex-end;
			padding: 37px 30px 0 0px;

			@media screen and (max-width: 1220px) {
				width: 100%;
				align-items: center;
				padding: 10px 10px 40px 10px;
			}

			.title {

				max-width: 150px;
				margin-bottom: 10px;

				text-align: right;
				font-size: 18px;
				line-height: 24px;
				color: $color_dark;
				font-weight: 900;
				text-transform: uppercase;

				@media screen and (max-width: 1220px) {
					max-width: 100%;
					text-align: center;
					font-size: 16px;
				}

				@media screen and (max-width: 376px) {
					font-size: 14px;
				}
			}

			.text {
				max-width: 292px;
				margin-bottom: 35px;
				
				text-align: right;
				font-size: 14px;
				line-height: 24px;
				color: $color_text;

				@media screen and (max-width: 1220px) {
					max-width: 260px;
					text-align: center;
					font-size: 13px;
					line-height: 18px;
				}

				@media screen and (max-width: 576px) {
					margin-bottom: 25px;
				}

				@media screen and (max-width: 376px) {
					font-size: 12px;
				}
			}

			.button {
				position: relative;
				padding: 10px 50px 10px 30px;
				border-radius: 7px;
				background-color: $color_green;
				
				font-size: 14px;
				line-height: 20px;
				font-weight: 500;
				color: #fff;
				text-decoration: none;

				&::after {
					position: absolute;
					top: calc(50% - 8px);
					right: 27px;
					display: block;
					content: '';
					width: 18px;
					height: 18px;
					background: url('../images/dest/icons/arrow_button.svg') no-repeat;
				}
			}
		} // content

	} // element
}